@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-color: #1c66f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}

h3, h4, h5, h6{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

span{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--secondary-color);
}
